services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345678
      POSTGRES_DB: resume_db
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d resume_db"]
      interval: 5s
      timeout: 5s
      retries: 10

  redis:
    image: redis:7
    ports:
      - "6380:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 10

  fastapi:
    build:
      context: .
      dockerfile: Dockerfile
    image: mukulnagar25/fastapi-app:latest
    env_file:
      - .env
    environment:
      # override hostnames for docker network
      DATABASE_URL: postgresql+asyncpg://postgres:12345678@postgres:5432/resume_db
      SYNC_DATABASE_URL: postgresql://postgres:12345678@postgres:5432/resume_db
      REDIS_URL: redis://redis:6379/0
      UPLOAD_DIR: /app/uploads
    ports:
      - "8000:8000"
    volumes:
      - ./uploads:/app/uploads
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  worker:
    build:
      context: .
      dockerfile: Dockerfile.worker
    image: mukulnagar25/fastapi-worker:latest
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql+asyncpg://postgres:12345678@postgres:5432/resume_db
      SYNC_DATABASE_URL: postgresql://postgres:12345678@postgres:5432/resume_db
      REDIS_URL: redis://redis:6379/0
      UPLOAD_DIR: /app/uploads
    volumes:
      - ./uploads:/app/uploads
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

volumes:
  pgdata: