name: Multi-Service FastAPI CI/CD

on:
  push:
    branches:
      - main

jobs:
  build-test-push:
    runs-on: ubuntu-latest

    # env:
    #   DOCKER_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
    #   FASTAPI_IMAGE: ${{ secrets.DOCKERHUB_USERNAME }}/fastapi-app
    #   REDIS_IMAGE: ${{ secrets.DOCKERHUB_USERNAME }}/custom-redis
    #   IMAGE_TAG: ${{ github.sha }}

    steps:
      # :one: Checkout code
      - name: Checkout Repository
        uses: actions/checkout@v4

      # :two: Setup Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # :three: Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # :four: Build Images using Docker Compose
      - name: Build Services
        run: |
          docker compose build

      # :five: Start Containers
      - name: Start Services
        run: |
          docker compose up -d

      # :six: Wait for FastAPI to start
      - name: Wait for App
        run: |
          echo "Waiting for FastAPI..."
          sleep 2

      # # :seven: Health Check Test
      # - name: Test FastAPI
      #   run: |
      #     curl --fail http://localhost:8000/health

      # :eight: Stop Containers
      - name: Stop Services
        run: |
          docker compose down

      # :nine: Tag Images with Commit SHA
      # - name: Tag Images
      #   run: |
      #     docker tag $FASTAPI_IMAGE:latest $FASTAPI_IMAGE:$IMAGE_TAG
      #     docker tag $REDIS_IMAGE:latest $REDIS_IMAGE:$IMAGE_TAG

      # :keycap_ten: Push Latest Tags
      - name: Push Latest Images
        run: |
          docker push mukulnagar25/fastapi-app:latest
          docker push mukulnagar25/fastapi-worker:latest

      # :one::one: Push Versioned Tags
      # - name: Push Versioned Images
      #   run: |
      #     docker push $FASTAPI_IMAGE:$IMAGE_TAG
      #     docker push $REDIS_IMAGE:$IMAGE_TAG