name: CI

on:
  push:
    branches: ["main"]
  # pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          

      - name: Build Docker images
        run: |
          docker compose  up --build -d

      - name: verify fastapi
        run: |
          uvicorn app.main:app --reload 


      - name: check running continer
        run: 
          docker ps    

      - name: check logs
        if: failure()
        run:
          docker compose logs    